@import "tailwindcss";

/*Icon default*/
body {
  color: #FFFFFF;
}

/*Font*/
.text-h1 {
  font-size: 2.125rem; /* 34px */
}

.text-h2 {
  font-size: 1.25rem; /* 20px */
}

.text-h3 {
  font-size: 1rem; /* 16px */
}

.text-p {
  font-size: 0.875rem; /* 14px */
}

.text-contrast {
  color: #1F2126;
}

.text-action {
  color: #98CEAA;
}

.text-action-contrast {
  color: #6D8F78;
}

/*Buttons*/
.button-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

.bg-button-primary {
  background-color: #98CEAA;
}

.bg-button-primary:hover {
  background-color: #6D8F78;
}

.bg-button-primary-active {
  background-color: #6D8F78;
}

.bg-button-primary-active:hover {
  color: #CECECD;
  background-color: #56715d;
}

.bg-button-secondary {
  background-color: #565B5B;
}

.bg-button-secondary:hover {
  background-color: #667171;
}

/*.bg-button-secondary:active {*/
/*  background-color: #667171;*/
/*}*/

.bg-button-secondary-active {
  background-color: #667171; /* Same as secondary hover/active */
  border: solid 2px #1F2126; /* Add border to indicate active state */
}

/*Inputs*/
.input-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15);
}

.bg-input-normal {
  background-color: #565B5B;
}

.border-input-normal {
  border-color: rgba(0, 0, 0, 0.30);
}

.text-input-normal {
  color: #FFFFFF;
}

.bg-input-contrast {
  background-color: #6D8F78;
}

.border-input-contrast {
  border-color: #000000;
}

.text-input-contrast {
  color: #1F2126;
}

/*Background*/
.bg-main {
  background-color: #37383B;
  position: relative;
}

.bg-overlay {
  background-color: #3F4343;
}

.bg-contrast-1 {
  background-color: #CECECD;
}

.bg-contrast-2 {
  background-color: rgba(217, 217, 217, 0.1); /* #D9D9D9 at 10% opacity */
}

/*Scrollbar*/
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/*sliders*/
.slider {
  @apply appearance-none w-full bg-transparent;
}

.slider::-webkit-slider-runnable-track {
  height: 30px;
  border-radius: 10px;
  background: rgba(152, 206, 170, 0.4);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  padding: 2px ;
  height: 25px;
  width: 20px;
  margin-top: 2px;
  background: rgb(0, 0, 0, 0.9);
  cursor: pointer;
  border-radius: 5px;
}